<hr>
<div class="form-group">
	<label for="foodQuantity">{{localize 'FWT.foodQuantityQuestion'}}</label>
	<select name="foodQuantity">
		<option value="onePoundOrMore">{{localize 'FWT.onePoundOrMoreFood'}}</option>
		<option value="halfPound">{{localize 'FWT.halfPoundFood'}}</option>
		<option value="none">{{localize 'FWT.noneFood'}}</option>
	</select>
	<p class="notes">{{localize 'FWT.daysWithoutFood'}}: {{noFoodDays}}/{{maxFoodDays}} {{localize 'days'}}.</p>

	<label for="waterQuantity">{{localize 'FWT.waterQuantityQuestion'}}</label>
	<select name="waterQuantity">
		<option value="moreThanRequiredWater">{{reqWater}} {{localize 'FWT.gallonsOrMoreWater'}}</option>
		<option value="requiredWater">{{reqWater}} {{localize 'FWT.gallonsWater'}}</option>
		<option value="lessThanRequiredWater">{{localize 'FWT.lessThanWater'}} {{reqWater}} {{localize 'FWT.gallonsWater'}}</option>
	</select>
	<!-- <p class="notes"></p> -->
</div>
<br>